certifi==2020.12.5
h5py==2.10.0
importlib-metadata==3.10.0
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.2.1
mkl-service==2.3.0
notebook==6.3.0
olefile==0.46
pip-chill==1.0.1
pyreadline==2.1
sip==4.19.13
wincertstore==0.2
